[submodule "TeamCode/src/main/java/org/firstinspires/ftc/teamcode/Util/HSVThresholdCalibrator"]
	path = TeamCode/src/main/java/org/firstinspires/ftc/teamcode/Util/HSVThresholdCalibrator
	url = https://github.com/albonec/HSVThresholdCalibrator
